<div class="modal-header">
	<h4>{{descripcionShow}}</h4>
</div>


<div class="modal-body">
	<form class="form-horizontal" name="formPersonal" style="margin-left:40px">
        <div class="form-group row">
            <label class="control-label col-xs-1">Cargo:</label>
            <div class="col-xs-3">
                <select class="form-control sizeLM pull-left inputCita" ng-disabled="editar" ng-options="cargoSelected as cargoSelected for cargoSelected in cargos" ng-model="personal.cargo" required></select>
            </div>

            <label class="control-label col-xs-1">Password:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control inputCita" placeholder="Contraseña..." ng-model="personal.password" required ng-disabled="editar">
            </div>

            <label class="control-label col-xs-1">Color:</label>
            <div class="col-xs-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1" colorpicker colorpicker-position="bottom" ng-model="personal.color">
                        <span class="glyphicon glyphicon-tint"></span>
                    </span>
                    <input type="text" ng-disabled=true class="black form-control" style="font-size:1.3em; background-color:{{personal.color}};color:black;" value="Color" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <label class="control-label col-xs-1">Nombre:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control inputCita" placeholder="Nombre..." ng-model="personal.nombre" required ng-disabled="editar">
            </div>

            <label class="control-label col-xs-2">Apellidos:</label>
            <div class="col-xs-5">
                <input type="text" class="form-control inputCita" placeholder="Apellidos..." ng-model="personal.apellidos" ng-disabled="editar">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-xs-1">DNI:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control inputCita" placeholder="DNI..." ng-model="personal.dni" ng-disabled="editar">
            </div>

            <label class="control-label col-xs-2">Nª Colegiado:</label>
            <div class="col-xs-5">
                <input type="text" class="form-control inputCita" placeholder="Numero de Colegiado..." ng-model="personal.numColegiado" ng-disabled="editar">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-xs-1">TLF:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control inputCita" placeholder="Telefono..." ng-model="personal.tlf" ng-disabled="editar">
            </div>

            <label class="control-label col-xs-2">Email:</label>
            <div class="col-xs-5">
                <input type="text" class="form-control inputCita" placeholder="Email..." ng-model="personal.email" ng-disabled="editar" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-xs-1">Direccion:</label>
            <div class="col-xs-10">
                <input type="text" class="form-control inputCita" placeholder="callle, numero, provincia, ciudad, cp, etc.." ng-model="personal.direccion" ng-disabled="editar">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-xs-1">Firma:</label>
            <div class="col-xs-3">
                <span class="file-input btn btn-block btn-primary btn-file" data-filename-placement="inside">Buscar Archivo… <input type="file" multiple="">
            </span>
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <label class="control-label col-xs-1">Estado:</label>
            <div class="col-xs-3">
                <select class="form-control sizeLM pull-left inputCita" ng-disabled="editar" ng-options="optionSelected as optionSelected for optionSelected in options" ng-model="personal.estado" required></select>
            </div>
        </div>

    </form>
</div>


<div class="modal-footer">
        <button class="btn btn-warning" ng-click="editar=!editar" aria-hidden="true" ng-show="editar">Editar</button>
        <button class="btn btn-success" ng-click="save()" aria-hidden="true" ng-show="!editar" ng-disabled="formPersonal.$invalid">Guardar</button>
        <button class="btn btn-danger" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">Salir</button>
</div>