<div ng-hide="rol=='Personal'">
	<div class="contenedor border-purple ideat row" style="text-align:center;">
			  <div class="col-sm-3">
			  		<h4>Personal en plantilla</h4>
			  </div>
			  <div class="col-sm-6">
			  		<ul class="pagination" style="padding:0;margin:0;">
			  		  <li id="prevPage" class="disabled"><a ng-click="changePage(-1)">&laquo; Prev</a></li>
					  <li class="disabled"><a>Pagina {{currentPage+1}} de {{numberOfPages()}}</a></li>
					  <li id="nextPage"><a ng-click="changePage(1)">&raquo; Next</a></li>
					</ul>
			  </div>
			  <div class="col-sm-3">
			  		<button class="btn btn-success pull-right" style="margin-right:1em" ng-click="edit()">Nuevo Empleado +</button>
			  </div>
	</div>


    <table class="table table-bordered table-striped table-condensed table-hover border-purple">
	    <tbody>
	         <tr class="days border-purple">
		         <th title="Nombre" class="col-xs-1  text-center ideat" ng-click="orderby('estado')">Estado</th>
		         <th title="Nombre" class="col-xs-2  text-center ideat" ng-click="orderby('nombre')">Nombre</th>
		         <th title="Apellidos" class="col-xs-3  text-center ideat" ng-click="orderby('apellidos')">Apellidos</th>
		         <th title="Email" class="col-xs-2  text-center ideat" ng-click="orderby('email')">email</th>
		         <th title="Telefono" class="col-xs-1  text-center ideat" ng-click="orderby('tlf')">Telefono</th>
		         <th title="Cargo" class="col-xs-2  text-center ideat" ng-click="orderby('cargo')">cargo</th>
		         <th title="Acciones" class="col-xs-1  text-center ideat">Acciones</th>
	        </tr>
	    	<tr class="{{empleado.estado}}" ng-repeat="empleado in personal = (data | orderBy:predicate:reverse ) | startFrom:currentPage*pageSize | limitTo:pageSize">
	    			<td class="celdasTabla"> {{empleado.estado}}</td>
	    			<td class="celdasTabla"> {{empleado.nombre}}</td>
	    			<td class="celdasTabla"> {{empleado.apellidos}}</td>
	    			<td class="celdasTabla"> {{empleado.email}}</td>
	    			<td class="celdasTabla"> {{empleado.tlf}}</td>
	    			<td class="celdasTabla"> {{empleado.cargo}}</td>
	    			<td class="celdasTabla">
	    					<span class="glyphicon glyphicon-edit cursor-pointer" aria-hidden="true" popover="Editar" popover-trigger="mouseenter" ng-click="edit(empleado)"></span>&nbsp;&nbsp;
	    					<span class="glyphicon glyphicon-remove cursor-pointer" aria-hidden="true" popover="Eliminar" popover-trigger="mouseenter" ng-click="delete(empleado)"></span>
	    			</td>
	    </tbody>
    </table>
	
</div>