

<div class="modal-header">
	<h4> Nuevo Documento: -- {{cliente.nombrePaciente}} {{cliente.apellidosPaciente}} --</h4>
</div>


<div class="modal-body">
	<form class="form-horizontal" name="formFestivo">
        <div class="form-group row">
            <label class="control-label col-xs-3">Titulo:</label>
            <div class="col-xs-7">
                <input type="text" class="form-control inputCita" placeholder="Titulo del documento" ng-model="file.titulo" required maxlength="50">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-xs-3">Descripcion:</label>
            <div class="col-xs-7">
                <input type="text" class="form-control inputCita" placeholder="Breve Descripcion (opcional)" ng-model="file.descripcion" maxlength="150">
            </div>
        </div>

         <div class="form-group row">
            <label class="control-label col-xs-3">Tipo Documento:</label>
            <div class="col-xs-7">
                <select class="form-control sizeLM pull-left inputCita" ng-options="tipoDocumentoSelected as tipoDocumentoSelected for tipoDocumentoSelected in tipoDocumentos" ng-model="file.tipoDocumento" required></select>
            </div>
        </div>

        <div class="form-group row" ng-show="file.tipoDocumento=='Coordinaciones'">
            <label class="control-label col-xs-3">Tipo Coordinacion:</label>
            <div class="col-xs-7">
                <select class="form-control sizeLM pull-left inputCita" ng-options="tipoCoordinacionSelected as tipoCoordinacionSelected for tipoCoordinacionSelected in tipoCoordinaciones" ng-model="file.tipoCoordinacion"></select>
            </div>
        </div>

        <div class="form-group row">
        	<div class="col-xs-12 center">
        		<h4>Selecciona Archivo</h4>
        	</div>

        	<div class="col-xs-2"></div>
            <div class="input-group col-xs-8">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" name="file" onchange="angular.element(this).scope().uploadedFile(this.files)">
                    </span>
                </span>
                <input type="text" class="form-control" readonly ng-model="files.name" required>
            </div>
            <div class="col-xs-2"></div>

        	<div class="col-xs-12 center">
	            <span class="help-block">
	                Selecciona el documento de tu disco duro...
	            </span>
	        </div>
        </div>

    </form>
</div>






<div class="modal-footer">
        <button class="btn btn-success" ng-click="upload()" aria-hidden="true" ng-disabled="formFestivo.$invalid || (file.tipoDocumento=='Coordinaciones' && !file.tipoCoordinacion)">Subir Archivo</button>
        <button class="btn btn-danger" ng-click="cancel()" aria-hidden="true">Cancelar</button>
</div>